{% extends "layout.html"%}
{% block title %}login{% endblock %}
{% block head %}
    {{super()}}
    <style type="text/css">
        .important{color:#336699;}
    </style>
{% endblock %}
{% block content %}
    <h1>Index</h1>
    <p class="important">
        Welcome on my awesome homepage.
        </p>
    <form action = "" method = "post">
        <p>用户名：<input type = "text" name = "username"></p>
        <p>密  码：<input type = "password" name = "psw"></p>
        <p><input type = "submit" value = "Submit"></p>
    </form>
{% endblock %}
